<!DOCTYPE HTML>

<html>
  <head>
      <title> {{ title }} </title>
      <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          }
      th, td {
          padding: 5px;
          }
      th {
          text-align: middle;
          }
      </style>
  </head>
  <body>
    <h1>Team Emoji -- Elizabeth Doss & Hong Wei Chen</h1>
    <br>
    This is a list of occupations from an occupations csv file and their respective percentages of workers. The top of the list shows a randomly generated occupation from this list chosen based on its percentage.
    <br><br>
    Try reloading the page!
    <br>
    <h3> Randomly generated occupation: {{ randOcc }} </h3>
    <br>
    <table>
        <tr>
            <th> Occupation </th>
            <th> Percentage </th>
        </tr>
        {% for item in collection %}
            <tr>
                <td>{{item}}</td>
                <td>{{collection[item]}}</td>
            </tr>
        {% endfor %}      
    </table>
  </body>
</html>
